/* normalize css starts here */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* normalize css ends here */

html {
  font-family: -apple-system, Segoe UI, Helvetica, Arial, sans-serif;
  color: black;
  font-size: 18px;
}

body {
  width: 350px;
  height: 300px;
}

h1 {
  color: #FFF;
  width: 100%;
  background-color: #232D4B;
  padding-left: 10px;
  padding-top: 10px;
  height: 15%;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

header {
  height: 5%;
  background-color: #EB5F0C;
}

fieldset {
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
}

legend {
  font-weight: bold;
  color: #232D4B;
  padding: 0 0.4em;
  display: block;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: inherit;
  border: 0;
}


button, .button {
  background-color: #EB5F0C;
  border: none;
  color: #ffffff;
  padding: .8rem 1.2rem;
  text-align: center;
  text-decoration: none;
  margin: 0;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  border-bottom: 0px;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,.14),
                0px 3px 4px 0px rgba(0,0,0,.12),
                0px 1px 5px 0px rgba(0,0,0,.20);
  transition: all .2s ease-in;
} 

.button:focus {
  box-shadow: 0px 8px 10px 1px rgba(0,0,0,.14),
                         0px 3px 14px 3px rgba(0,0,0,.12),
                         0px 4px 15px 0px rgba(0,0,0,.20); 
}

.button:hover {
  box-shadow: 0px 8px 10px 1px rgba(0,0,0,.14),
                         0px 3px 14px 3px rgba(0,0,0,.12),
                         0px 4px 15px 0px rgba(0,0,0,.20); 
}

p {
  font-weight: 600;
  margin-bottom: 5px;
}

input {
  margin-bottom: 10px;
}

.credit {
  margin-left: 5px;
  margin-top: 2px;
}